{% extends 'base.html' %}
{% block title %}Criar novo produto{% endblock %}
{% block content %}
<br />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-3">
                <h4>Lista de produtos</h4>
        </div>
        <div class="col-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %} "><h6>Home</h6></a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'produtos_new' %}"><h6>Criar novo produto</h6></a>
                    </li>
                    
                  </ul>
                </div>
        </div>
        <div class="col-5">
                <form class="form-inline">
                               
                                <div class="form-group mx-sm-3 mb-2">
                                  <label for="inputPassword2" class="sr-only">Password</label>
                                  <input type="text" class="form-control" id="Pesquisa" name="pesquisa" placeholder="Digite sua busca">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                              </form>
        </div>
              </nav>

<br />

{% for produto in produtos %}

<br />
<div class="row">
        <div class="col-sm">
                <div class="list-group">
                        <a href="{% url  'produtos_update' produto.id %}" class="list-group-item">{{ produto.nome }}</a>
      
                </div>
        </div>
        <div class="col-sm">
                        <a href="{% url 'produtos_delete' produto.id %}" class="btn btn-danger">Deletar</a>
        </div>
</div>


{% endfor %}
{% endblock %}